
body {
	margin: 0px;
	padding: 0px;
	color: black;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bolder;
	font-size: 13px;
	line-height: 1.5em; 
	background-color:black;
	background-image: url(images/background.jpg);
}

a, a:link, a:visited { 
	color: #ff4301; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

p { 
	margin: 0px; 
	padding: 0; 
}

img { 
	border: 50%; 
}

h1, h2, h3, h4, h5, h6 { 
	color: black; 
}

h1 { 
	font-size: 40px; 
	font-weight: normal; 
	margin: 0 0 30px 0; 
	padding: 5px 0; 
}

h2 { 
	font-size: 28px; 
	font-weight: normal; 
	margin: 0 0 30px 0; 
	padding-top: 40px; 
	color: rgb(0, 0, 0);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 span { 
	font-weight: bold; 
}

h3 { 
	font-size: 21px; 
	margin: 0 0 15px 0; 
	padding: 0; 
	padding: 0; 
	color: black; 
	font-weight: normal; 
}

h4 { 
	font-size: 18px; 
	margin: 0 0 15px 0; 
	padding: 0; 
	font-weight: bolder;
}

h5 { 
	font-size: 16px; 
	margin: 0 0 10px 0; 
	padding: 0; 
	font-weight: bolder;
	color: black; 
}

h6 { 
	font-size: 14px; 
	margin: 0 0 5px 0; 
	padding: 0; 
	font-weight: bolder;
	color: black; 
}

.raze { 
	clear: both; 
	width: 100%; 
	height: 0px; 
	font-size: 0px;  
}

.raze_h10 { 
	clear: both; 
	width:100%; 
	height: 10px; 
}

.raze_h20 { 
	clear: both; 
	width:100%; 
	height: 20px; 
}

.raze_h30 { 
	clear: both; 
	width:100%; 
	height: 30px; 
}

.raze_h40 { 
	clear: both; 
	width:100%; 
	height: 40px; 
}

.raze_h50 { 
	clear: both; 
	width:100%; 
	height: 50px; 
}

.raze_h60 { 
	clear: both; 
	width:100%; 
	height: 60px; 
}

.float_l { 
	float: left; 
}

.float_r { 
	float: right; 
}

.image_wrapper { 
	display: inline-block; 
	border: 1px solid black; 
	padding: 5px; 
	background: none; 
	margin-bottom: 10px; 
}

.image_fl { 
	float: left;
	margin: 3px 15px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 15px; 
}

blockquote { font-style: italic; margin-left: 10px;}

cite { font-weight: bold; color:black; }

cite span { color: black; }

em { color:black; }

.victory_list { margin: 20px 10px; padding: 0; list-style: none; }

.victory_list li { 
	background: transparent url(images/victory_list.png) no-repeat scroll 0 0px; 
	margin:0 0 20px; 
	padding: 0 0 0 20px; 	
	line-height: 0.8em; 
}

.victory_list li a { color: black; }

.victory_list li a:hover { color: #ff4301; }

.btn_more a { 
	display: inline-block;
	color: black;
	padding: 2px 0 2px 23px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
    background: url(images/victory_more_btn.png) center left no-repeat;
}

.btn_more a:hover {
	color: #121213;
	text-decoration: none;
}

#victory_header_wrapper { 
	background-size: cover;
	background-position: center center;
	background-image: url(images/top\ center.jpg) ; 
}

#victory_header { 
	width: 940px; 
	height: 300px; 
	padding: 100px 100px; 
	margin: 0 auto;	
	background: url(images/top\ center.jpg) no-repeat center top; 
}

#victory_header  #site_title { 
	float: left; 
	width: 220px; 
	padding-top: 30px; 
	text-align: center; 
}

#victory_header  #site_title h1 { 
	margin: 0; 
	padding: 0; 
} 

#victory_header  #site_title a { 
	margin: 0px; 
	padding: 0px; 
	font-size: 40px; 
	color: black; 
	font-weight: bold; 
	text-decoration: none; 
}

#victory_header  #site_title a span { 
	display: block; 
	font-size: 14px; 
	color: black; 
	font-weight: normal; 
	margin-left: 5px; 
}

#victory_header #header_right { 
	float: right;  
	padding-top: 10px; 
	display: inline-block; 
}



#search_box { 
	width: 220px; 
	height: 30px; 
	margin: 5px 0 0 0; 
	background: url(images/victory_search.png) no-repeat; 
}

#search_box form { 
	clear: both; 
	width: 220px; 
	height: 30px; 
	padding: 0; 
} 

#searchfield { 
	height: 20px; 
	width: 180px; 
	padding: 5px; 
	color: gray; 
	background: none; 
	border: none; 
} 

#searchbutton { 
	height: 30px; 
	width: 26px; 
	padding: 0 0 5px 0; 
	margin: 0; 
	cursor: pointer; 
	background: none; 
	border: none; 
}

#victory_middle_wrapper { 
	width: 100%; 
	height: 300px; 
	background:url(images/middle\ 2.1.jpg) no-repeat center top; 
}

#victory_middle { 
	width: 100px; 
	height: 50px; 
	padding: 50px; 
	margin: 0 auto;	 
}

#victory_middle  img { 
	float: left; 
	border: 1px solid black; 
	padding: 8px; 
}

#middle_content { 
	float: right; 
	width: 450px; 
}

#middle_content p { 
	margin-bottom: 20px; 
	line-height: 24px; 
}

#victory_middle .wwu_btn a { 
	display: block; 
	width: 182px; 
	height: 42px; 
	background: url(images/btn_wwu.png) no-repeat; 
}

#victory_middle .wwu_btn a:hover { 
	display: block; 
	width: 182px; 
	height: 42px; 
	background: url(images/btn_wwu_hover.png) no-repeat; 
}

/* menu */

#victory_menu {
	width: 940px;
	height: 50px;
	padding: 0 10px;
	margin: 0 auto;

}

#victory_menu ul {
	margin: 0;
	padding: 0 35px;
	list-style: none;
}

#victory_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#victory_menu ul li a {
	float: left;
	display: block;
	width: 102px;
	height: 38px;
	padding: 12px 0 0 0;
	margin: 0 1px 0 0 ;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #fff;	
	font-weight: bold;
	outline: none;
	border: none;
}

#victory_menu ul li a:hover, #victory_menu ul li .current {
	color: #fff;
	background: url(images/victory_menu_hover.jpg) top repeat-x;
}



#victory_content { width: 940px; margin: 0 auto; padding: 30px 10px; }

#victory_content p { margin-bottom: 10px; }

#services {
	clear: both;
	border-bottom: 1px solid #b2c9d2;
	margin-bottom: 40px;
	padding-bottom: 20px;
}

#services h3 {
	height: 24px; padding-left: 32px;
}

#services .service1 { background: url(images/smiley.jpg) center left no-repeat; }
#services .service2 { background: url(images/christmas.jpg) center left no-repeat; }

.content_box {
	clear: both;
	border-bottom: 1px solid #b2c9d2;
	margin-bottom: 20px;
	padding-bottom: 20px;	
}

.content_box_last {
	border-bottom: none;
	margin-bottom: 0;
}

.col_w300 {
	float: left;
	width: 279px;
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #b2c9d2;
}

.col_w460 {
	float: left;
	width: 419px;
	padding-right: 40px;
	margin-right: 20px;
	border-right: 1px solid #b2c9d2;
}

.last_col {
	margin-right: 0;
	border-right: none;
}


#gallery { clear: both; }

#gallery a { border: none; }

.g_box { 
	float: left; 
	display: block; 
	width: 280px; 
	padding: 8px; 
	margin: 0 20px 20px 0; 
	border: 1px solid #fff; 
	background: #f3fbfe; 
}

.g_box a img { width: 280px; height: 140px; margin-bottom: 10px; }

.rm_col { margin: 0 0 20px 0; }	

#contact_form {
	width: 412px; 
	padding: 0; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}
#contact_form form .input_field { 
	width: 300px; 
	padding: 5px; 
	background: #fff; 
	border: 1px solid #dfdfdf;
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
	margin-top: 5px; 
}

#contact_form form label { 
	display: block; 
	width: 100px;
	margin-right: 10px; 
	font-size: 13px; 
}

#contact_form form textarea { 
	width: 400px;  
	height: 200px;
	padding: 5px;	
	background: #fff; 	
	border: 1px solid #dfdfdf;
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
	margin-top: 5px; 
}

#contact_form form .submit_btn  {
	margin: 5px 0px;
	padding: 3px 14px;
	font-weight: bold;
	border: 1px solid #dfdfdf;
	background: #F3F3F3;
}

#victory_footer_wrapper {
	width: 100%;
	border-top: 1px solid #fff;
	padding-top: 1px;
	background:  blue; 
}

#victory_footer {
	width: 900px;
	margin: 0 auto;
	padding: 15px 35px;
	text-align: center;
	color: #8ab6d1;
}

#victory_footer a {
	color: #b4d8ee;
}

